.features {
    .container {
        margin-bottom: 282px;
    }
    .bg {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        z-index: -4;
    }
    &-title {
        max-width: 585px;
        text-align: center;
        margin: 0 auto 50px;
        .title-heading {
            margin-bottom: 50px;
        }
    }
    .list {
        .wrap-item {
            padding: 0 20px;
        }
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            position: relative;
            padding: 50px 50px 35px 0;
        }
        .title-item {
            font-family: Helvetica;
            font-weight: normal;
            font-size: 24px;
            line-height: 130%;
            color: #212353;
            margin-bottom: 20px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #4B5D68;
            max-width: 220px;
            margin-bottom: 20px;
        }
        .icon img {
            margin-left: 22px;
            width: 20px;
        }
    }
    @media (max-width: 768px) {
        .bg {
            width: 90%;
        }
        .list p {
            max-width: 75vw;
        }
    }
    @media (max-width: 565px) {
        .list {
            .wrap-item {
                padding: 0 15px;
            }
            .item {
                padding: 15px 5px;
                .img img {
                    width: 70%;
                    height: 70%;
                }
            }
        }
        .container {
            margin-bottom: 100px;
        }
        .features-title {
            margin-bottom: 20px;
        }
    }
}