section.banner
    .container        
        .desc 
            h1.title Save your data storage here.
            p Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others.
            a.btn.btn-secondary Learn more
        .img 
            img(src="./assets/images/banner.png", alt="")