footer 
	.container 
		.footer 
			.row
				.col-md-5 
					.Warehouse
						.title
							.img 
								img(src="./assets/images/Logo.png", alt="")
							h1.title-footer DataWarehouse
						h2.location Warehouse Society, 234
							br
							| Bahagia Ave Street PRBW 29281
						p.infor info@warehouse.project
							br
							|1-232-3434 (Main)
				.col-md-7
					.row 
						.col-md-4
							ul.about
								li.about-item
									a.footer-link.title(href="#") About
								li.about-item 
									a.footer-link(href="#") Profile
								li.about-item
									a.footer-link(href="#") Features
								li.about-item
									a.footer-link(href="#") Careers
								li.about-item
									a.footer-link(href="#") DW News
						.col-md-4
							ul.help
								li.help-item
									a.footer-link.title(href="#") Help
								li.help-item 
									a.footer-link(href="#") Support
								li.help-item
									a.footer-link(href="#") Sign up
								li.help-item
									a.footer-link(href="#") Guide
								li.help-item
									a.footer-link(href="#") Reports
								li.help-item
									a.footer-link(href="#") Q&A
						.col-md-4
							.media 
								a.footer-link.title(href="#") Social Media
								.icon 
									a.icon-item.facebook(href="#")
										i.fab.fa-facebook-f
									a.icon-item.twitter(href="#")
										i.fab.fa-twitter
									a.icon-item.instagram(href="#")
										i.fab.fa-instagram
			.copyright 
				p © Datawarehouse™, 2020. All rights reserved.
					br
					| Company Registration Number: 21479524.
				a.icon-item.comment(href="#") 
					img(src="./assets/images/cmt.svg", alt="")


