header  
	.container
		.header
			.img 
				img(src="./assets/images/Logo.png", alt="")
			ul.header-menu
				li.header-item 
					a.header-link(href="#") About
				li.header-item 
					a.header-link(href="#") Help
				li.header-item 
					a.header-link(href="#") Features
				li.header-item 
					a.header-link(href="#") Signup
			a.btn.btn-primary(href="#") 
				| Request Demo 
				span.icon 
					img(src="./assets/images/right.svg", alt="")
