header 
	.btn-toggle
		i.fas.fa-bars
	.container
		.header
			.btn-close 			
			.img 
				a(href="#") 
					img(src="./assets/images/Logo.png", alt="")
			ul.header-menu
				li.header-item 
					a.header-link(href="#about") About
				li.header-item 
					a.header-link(href="#features") Help
				li.header-item 
					a.header-link(href="#testimo") Features
				li.header-item 
					a.header-link(href="#tryforfree") Signup
			a.btn.btn-primary(href="#") 
				| Request Demo 				 
				img(src="./assets/images/right.svg", alt="")
