include mixins.pug
section.testimo 
    .container 
        .testimo-bg 
            h1.title-heading Testimonials
            .slide
                +slide-card("./assets/images/i1.png","John Fang","wordfaang.com","Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.")
                +slide-card("./assets/images/i2.png","John Fang","wordfaang.com","Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.")
                +slide-card("./assets/images/i3.png","John Fang","wordfaang.com","Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.")
                +slide-card("./assets/images/i2.png","John Fang","wordfaang.com","Suspendisse ultrices at diam lectus nullam. Nisl, sagittis viverra enim erat tortor ultricies massa turpis. Arcu pulvinar aenean nam laoreet nulla.")