section.tryforfree
	hr
	.container
		.body 
			.desc 
				h1.title-heading Try for free!
				p Get limited 1 week free try our features!
			.btn-action 
				a.btn.btn-secondary Learn more
				a.btn.btn-primary(href="#") 
					| Request Demo 
					span.icon 
						img(src="./assets/images/right.svg", alt="")